[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pluggy = "*"
pypom = {editable = true, path = ".", extras = ["splinter"]}
selenium = "*"
splinter = "*"
"zope.component" = "*"
"zope.interface" = "*"

[dev-packages]
coveralls = "*"
flake8 = "*"
flake8-isort = "*"
mock = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
towncrier = "*"
